<div class="tasks-list">
    <table>
        <thead>
            <tr>
                <th>IDdD</th>
                <th>Title</th>
                <th>description</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.completed }}</td>
            </tr>
        </tbody>
    </table>
</div>